<footer class="footer text-center">
    {% if site.author %}
        {{ site.author | escape }}
    {% else %}
        <strong>{{ site.title | escape }}</strong>
    {% endif %}

    &nbsp;
    {% if site.email %}
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    {% endif %}

    &nbsp;
    {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
    {% endif %}

    &nbsp;
    {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}
</footer>
